---
- name: Perform a full system update and upgrade
  ansible.builtin.dnf:
    name: "*"
    state: latest

- name: Include packages
  import_tasks: packages.yaml

- name: Stop/start firewalld 
  ansible.builtin.service:
    name: firewalld 
    state: "{{ firewalld_state }}"