---
- name: Install required packages
  ansible.builtin.dnf:
    name: "{{ packages }}"
    state: present

- name: Install passlib via pip - hash requirement
  ansible.builtin.pip:
    name: passlib
    executable: pip3

- name: Enable required service
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop: "{{ services }}"
