---
- name: Start cockpit service
  ansible.builtin.service:
    name: cockpit
    state: started

- name: Create cockpit config file
  ansible.builtin.file:
    path: /etc/cockpit/cockpit.conf
    state: touch

- name: Copy cockpit config template to config file
  ansible.builtin.template:
    src: templates/cockpit_config.j2
    dest: /etc/cockpit/cockpit.conf

- name: Create nginx config file
  ansible.builtin.file:
    path: /etc/nginx/conf.d/cockpit.conf
    state: touch

- name: Copy nginx_cockpit config template to config file
  ansible.builtin.template:
    src: templates/nginx_cockpit_config.j2
    dest: /etc/nginx/conf.d/cockpit.conf

- name: Restart cockpit services
  ansible.builtin.service:
    name: "{{ item }}"
    state: restarted
  loop:
    - cockpit
    - cockpit.socket

- name: Dry-run Certbot for testing
  ansible.builtin.command: >
    sudo certbot certonly --nginx -d {{ cockpit.domain }}
    --non-interactive
    --agree-tos
    --email {{ cockpit.email }}
  register: dryrun_result

- name: Generate or reuse real SSL cert
  ansible.builtin.command: >
    sudo certbot --nginx -d {{ cockpit.domain }}
    --non-interactive
    --agree-tos
    --email {{ cockpit.email }}
  when: dryrun_result.rc == 0

- name: Reload nginx service
  ansible.builtin.service:
    name: nginx
    state: reloaded