server {
    listen 80;
    server_name {{ cockpit.domain }};

    # Redirect all HTTP traffic to HTTPS
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ cockpit.domain }};

    ssl_certificate /etc/letsencrypt/live/{{ cockpit.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ cockpit.domain }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location / {
        proxy_pass http://127.0.0.1:9090/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}