---
- name: Full server setup
  hosts: local
  become: true
  vars_files:
    - var/vars.yaml   

  roles:
    - base        # installs packages and base services
    - security    # hardens SSH, firewall, fail2ban
    - users       # creates users & authorized_keys
    - jenkins     # installs Jenkins
    - k3s         # installs K3s