- name: Copy restore cert script
  ansible.builtin.copy:
    src: restore_cert.sh
    dest: /tmp/restore_cert.sh
    mode: '0700'
    owner: root
    group: root

- name: Clone from Github and restore certs
  ansible.builtin.shell:
    cmd: |
      /tmp/restore_cert.sh
  environment:
    GIT_TOKEN: "{{ GIT_TOKEN }}"
    ROOT_PASSWORD: "{{ ROOT_PASSWORD }}"
    GIT_USERNAME: "{{ git_username }}"
    CERT_REPO: "{{ cert_repo }}"
    CERT_FILE: "{{ cert_file }}" 
  register: restore_result
  # no_log: true
  changed_when: restore_result.rc == 0

- name: Display restore cert result
  ansible.builtin.debug:
    msg: "{{ restore_result.stdout }}"
  when: restore_result.stdout != ""

- name: Copy backup cert script
  ansible.builtin.copy:
    src: backup_cert.sh
    dest: /tmp/backup_cert.sh
    mode: '0700'
    owner: root
    group: root
  when: "'cert_backup' in ansible_run_tags"
  tags: ['cert_backup']

- name: Backup cert and push to Github
  ansible.builtin.shell:
    cmd: |
      /tmp/backup_cert.sh
  environment:
    GIT_TOKEN: "{{ GIT_TOKEN }}"
    ROOT_PASSWORD: "{{ ROOT_PASSWORD }}"
    GIT_USERNAME: "{{ git_username }}"
    CERT_REPO: "{{ cert_repo }}"
  register: backup_result
  # no_log: true
  changed_when: backup_result.rc == 0 
  when: "'cert_backup' in ansible_run_tags"
  tags: ['cert_backup']

- name: Display backup cert result
  ansible.builtin.debug:
    msg: "{{ backup_result.stdout }}"
  when: backup_result is defined and backup_result.stdout | default('') != "" and "'cert_backup' in ansible_run_tags"
  tags: ['cert_backup']