Port {{ ssh_port | default(22) }}
Protocol 2

PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
PermitEmptyPasswords no
PermitRootLogin no

X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding no
PermitTunnel no

MaxAuthTries 3
LoginGraceTime 30
ClientAliveInterval 300
ClientAliveCountMax 6

UseDNS no
Compression no
TCPKeepAlive no
PrintMotd no
PermitUserEnvironment no
StrictModes yes

#AllowUsers {% for user in users %}{{ user.name }} {% endfor %}
{% for user in users %}
Match User {{ user.name }}
    PasswordAuthentication no
{% endfor %}