---
- name: Create sshd config file
  ansible.builtin.file:
    path: /etc/ssh/sshd_config.d/00-security.conf
    state: touch

- name: Copy config to the config file
  ansible.builtin.copy:
    content: |
      # Global defaults
      PasswordAuthentication no
      ChallengeResponseAuthentication no
      PubkeyAuthentication yes

      # Root user: key-only
      Match User root
          PermitRootLogin prohibit-password
          PasswordAuthentication no

      # Admin user: key-only for SSH
      Match User admin
          PasswordAuthentication no
    dest: /etc/ssh/sshd_config.d/00-security.conf